[Unit]
Description=Weekly CrowdSec hub update

[Timer]
OnCalendar=Sun *-*-* 02:10:00
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
